
@{
    ViewBag.Title = "User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h1 style="text-align:center;font-size:64px">
    <strong>
        User Management
    </strong>
</h1>

<hr />


<div class="row" style="padding-bottom:30px;text-align:center">
    <div class="col-md-4">
        <a class="hvr-hover1" href="/Home/StorageManager" style="border-radius:200px;border:3px solid orange;background-color:darkorange">
            <img src="https://www.shareicon.net/data/512x512/2015/08/06/81191_man_512x512.png" style="width:250px;height:250px" />
        </a>

        <div>
            <a href="/Home/StorageManager" class="hvr-hover1" style="font-size:30px;border:3px solid darkorange;border-radius:6px;background-color:darkorange;color:white;margin-top:20px">
                Storage Manager
            </a>
        </div>
    </div>

    <div class="col-md-4">
        <a class="hvr-hover1" href="/Home/Accounting" style="border-radius:200px;border:3px solid purple;background-color:mediumpurple">
            <img src="https://cdn0.iconfinder.com/data/icons/human-resources-29/66/25-512.png" style="width:250px;height:250px" />
        </a>

        <div>
            <a href="/Home/Accounting" class="hvr-hover1" style="font-size:30px;border:3px solid purple;border-radius:6px;background-color:purple;color:white;margin-top:20px">
                Accountant
            </a>
        </div>
    </div>



    <div class="col-md-4">
        <a class="hvr-hover1" href="/Home/Salesman" style="border-radius:200px;border:3px solid blue;background-color:dodgerblue">
            <img src="https://cdn0.iconfinder.com/data/icons/business-seo-vol-2-1/512/Earnings_Salesman_Businessman_Money_Finance_Income_Sales-512.png" style="width:250px;height:250px" />
        </a>

        <div>
            <a href="/Home/Salesman" class="hvr-hover1" style="font-size:30px;border-radius:6px;border:3px solid blue;background-color:dodgerblue;color:white;margin-top:20px">
                Salesman
            </a>
        </div>
    </div>

</div>





